
body{

  background-color: rgb(198, 208, 218);
}


.header {
  background-color: rgb(26, 62, 87);
  margin-left: -10px;
  margin-top: -10px;
  height: 70px;
  display: flex;
  width: 1353px
}

.logo {
  margin-left: 30px;
  margin-top: 20px;
}

.nosubmit {
  display: flex;
  margin-left: 30px;
  border-radius: 5px;
  margin-top: 15px;
  border: 1px solid rgb(110, 110, 110);
  display: block;
  padding: 10px;
  width: 600px;
  background: #f1f1f1;
}

.signin {
  margin-left: 0px;
  margin-top: 15px;
}

.Book {
  display: flex;
}

#booknow {
  margin-left: -100px;
}

#booknow2 {
  margin-left: -50px;
}

#booknow3 {
  margin-left: -50px;
}

#booknow4 {
  margin-left: -50px;
}

#booknow5 {
  margin-left: -50px;
}

.button {
  color: white;
  background-color: rgb(223, 62, 62);
  padding: 10px;
  border-radius: 10px;
  width: 100px;
  margin-left: 200px;
  cursor: pointer;
}

.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  margin-left: 100px;
  font-size: 16px;
  border: none;
  margin-top: 15px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 20px;
}

.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: transparent;
}

#myVideo {
  margin-top: 20px;
  margin-left: 30px;
  height: 130px;
  border-radius: 30px;
}

#myVideo2 {
  margin-top: 20px;
  margin-left: 30px;
  height: 130px;
  border-radius: 30px;
}

#myVideo3 {
  margin-top: 20px;
  margin-left: 30px;
  height: 130px;
  border-radius: 30px;
}

#myVideo4 {
  margin-top: 20px;
  margin-left: 30px;
  height: 130px;
  border-radius: 30px;
}

#myVideo5 {
  margin-top: 20px;
  margin-left: 30px;
  height: 130px;
  border-radius: 30px;
}

#alltrailer {
  display: flex;
}

#name {
  font-size: 20px;
  margin-left: 40px;
}

.pics {
  margin-top: -130px;
}

#movies {
  color: black;
  position: absolute;
  margin-top: 110px;
  margin-left: 40px;
  font-size: 20px;
  display: flex;
}

.tittle {

  display: flex;
}

#kgf {
  margin-top: 10px;
  font-size: 20px;
  margin-left: 70px;
}

#Beast {
  margin-top: 10px;
  font-size: 20px;
  margin-left: 150px;
}

#Strange {
  margin-top: 10px;
  font-size: 20px;
  margin-left: 180px;
}

#Jersey {
  margin-top: 10px;
  font-size: 20px;
  margin-left: 170px;
}

#RRR {
  margin-top: 10px;
  font-size: 20px;
  margin-left: 190px;
}

.action {

  display: flex;
}

#kgf1 {
  margin-top: 5px;
  font-size: 15px;
  margin-left: 70px;
  color: rgb(119, 117, 117);
}

#Beast1 {
  margin-top: 5px;
  font-size: 15px;
  margin-left: 120px;
  color: rgb(119, 117, 117);
}

#Strange1 {
  margin-top: 5px;
  font-size: 15px;
  margin-left: 120px;
  color: rgb(119, 117, 117);
}

#Jersey1 {
  margin-top: 5px;
  font-size: 15px;
  margin-left: 120px;
  color: rgb(119, 117, 117);
}

#RRR1 {
  margin-top: 5px;
  font-size: 15px;
  margin-left: 140px;
  color: rgb(119, 117, 117);
}
